@CHARSET "ISO-8859-1";

div{
	border: 1px dotted gray;
	padding: 10px;
	margin: 10px;
}

.error{
	color: red;
}

.table1 th{
	border: 1px dotted gray;
	padding: 5px;
	margin: 5px;
	background: pink;
}


.table1 td{
	border: 1px dotted gray;
	padding: 5px;
	margin: 5px;
	background: white;
}

span.current{
	border: 1px solid gray;
	padding: 5px;
	margin: 5px;
	background: pink;
}

span.autrepage{
	border: 1px solid gray;
	padding: 5px;
	margin: 5px;
	background: white;
}

